<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h4>Запросить письмо для активации учетной записи</h4>

<form asp-controller="account" asp-action="activationrequestpost" class="l-application">
    <input type="hidden" asp-anti-forgery="true"/>

    <div class="row">
        <div class="ctr-buttons">
            <input type="submit" class="blue-btn" value="Отправить" />
        </div>
    </div>

</form>


<div class="b-bottom-nav">
    <a htef="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
</div>