@using System.Threading.Tasks
@using Microsoft.AspNet.Identity
@model IdentityResult

@{
    ViewBag.Title = "Подтверждение email";
}

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@if (Model.Succeeded)
{
    <text>
    <p class="text-success" style="padding: 15px; font-size: larger;">
        Учётная запись активирована. Можете продолжить работу в личном кабинете.
    </p>
    </text>
}
else
{
    <text>
    <p class="text-danger" style="padding: 15px; font-size: larger;">
        При активации учетной записи возникли ошибки
    </p>
    </text>
    if (Model.Errors != null && Model.Errors.Any())
    {
        <text>
        <p>
            <ul>
                @foreach (var item in Model.Errors)
                {
                    <text>
                    <li class="text-warning">
                        @item
                    </li>
                    </text>
                }
            </ul>
        </p>
        </text>
    }

    <text>
    <p class="text-success" style="padding: 15px; font-size: larger;">
        <a asp-controller="account" asp-action="activationrequest">
            Повторить активацию
        </a>
    </p>
    </text>
}
<div class="b-bottom-nav">
    <a htef="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
</div>
