


<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>


<h4>@ViewBag.Title</h4>

<div class="text">
    <p>Пожалуйста, введите e-mail, указанный при создании аккаунта. После заполнения формы вам будет отправлено электронное письмо с инструкцией</p>

    <form class="l-application">
        <input type="hidden" asp-anti-forgery="true" />

        <div class="row">
            <div class="table-form">

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>E-mail:</label>
                    </div>
                    <div class="right-cell">
                        <input type="text" id="email" name="email" class="big-input" />
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="ctr-buttons button-align">
                <a href="/">
                    <span class="blue-btn middle-icon icon-arr-right">
                        Подтвердить
                    </span>
                </a>
                <span></span>
                <a href="/">
                    <span class="blue-btn middle-icon icon-close">
                        Отмена
                    </span>
                </a>
            </div>
        </div>

    </form>

    <br />
    <span style="color: red">Текущая страница является примером дизайна, и в настоящий момент находится в разработке</span>
    <br />
    <br />

</div>


<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная страницу</a>
</div>