@model string
<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>

<h4>@ViewBag.Title</h4>

<div class="text n-b">
    <p>
        Если вы – зарегистрированный пользователь Портала Вакансий и забыли пароль доступа в Систему, пожалуйста, укажите ниже ваш<br />
        логин (e-mail), который вы использовали для входа в Систему. На него будет выслана ссылка на раздел «Восстановление пароля»
    </p>
</div>
<form class="table-form mb30 grey-b-top mt-7 pt22 pass-recover-form">
    <input type="hidden" asp-anti-forgery="true"/>

    <div class="table-row form-row">
        <div class="left-cell">
            <label class="mt8 ml11">Логин</label>
        </div>
        <div class="right-cell ml209">
            <input type="text" id="userName" name="userName" value="@Model">
            @*<div class="inline-block pass-recover-notif italic"><span class="green">Введено верно</span> <span class="error">Это поле необходимо заполнить</span></div>*@
        </div>
    </div>
    <div class="form-line">
        <div class="b-r-form">
            @*<input type="submit" class="green-btn middle-icon icon-arr-right" value="Отправить">*@
            
            <span class="green-btn middle-icon icon-arr-right">Отправить<input type="submit" class="bt-default" value="" /></span>
        </div>
    </div>
</form>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>