@using System.Threading.Tasks
@using SciVacancies.WebApp.Engine
@using SciVacancies.WebApp.ViewModels
@model AccountLoginViewModel

<h4>@ViewBag.Title</h4>

<div class="b-tabs b-tabs_page">
    <ul class="nav nav-tabs" id="tab">
        <li class="active">
            <a href="#b-user-second">Пользователь</a>
        </li>
        <li>
            <a href="#b-organization-second">Организация</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="b-user-second">
            <p>Для зарегистрированных пользователей (соискателей) - введите в форму входа логин и пароль, полученные при регистрации на Портале.</p>

            <div class="mt7"><a href="/account/register" class="italic">Регистрация</a></div>
            <div class="mt5"><a href="/account/forgotpassword" class="italic">Забыли пароль?</a></div>

            <form asp-controller="account" asp-action="login" method="POST" class="mt27">
                <input type="hidden" id="Resource" name="Resource" value="@((int)AuthorizeResourceTypes.OwnAuthorization)" />
                <input type="hidden" id="User" name="User" value="@((int)AuthorizeUserTypes.Researcher)" />
                <div class="form-line">
                    <input asp-for="Login" class="middle-popup-input" placeholder="Логин" />
                    <span asp-validation-for="Login" class="iblock-middle ml6"></span>
                </div>

                <div class="form-line">
                    <input asp-for="Password" type="password" class="middle-popup-input" placeholder="Пароль" />
                    <span asp-validation-for="Password" class="iblock-middle ml6"></span>
                </div>

                <div class="ctr-buttons">
                    <span class="green-btn middle-icon icon-arr-right pr28">Войти<input type="submit" class="bt-default" value="" /></span><span id="cancellogin" class="blue-btn middle-icon icon-close">Отмена</span>
                </div>
            </form>

            <p>
                <a href="/account/login?user=@((int) AuthorizeUserTypes.Researcher)&resource=@((int) AuthorizeResourceTypes.ScienceMap)">Авторизоваться через Карту Науки</a>
            </p>
        </div>
        <div class="tab-pane" id="b-organization-second">
            <p>
                Для входа в личный кабинет представителя Организации необходимо в соответствующие поля ввести логин и пароль, полученные на сайте <a href="http://www.sciencemon.ru/">Федеральной системы мониторинга результативности деятельности научных организаций</a> (ФСМНО)
            </p>
            <p>
                <a href="/account/loginorganization">Авторизоваться</a>
            </p>
        </div>
    </div>
</div>
