@model SciVacancies.WebApp.ViewModels.AccountRegisterViewModel
@{
    var years = Enumerable.Range(DateTime.Now.Year-150, 150+1).OrderByDescending(c=>c).Select(c=> new SelectListItem {Text = c.ToString(), Value = c.ToString()});
}
<div class="crumbs">
    <a href="/">Главная страница</a><span class="separator">/</span>Регистрация
</div>

<h4>@ViewBag.Title</h4>

<div class="text">
    <p>Уважаемые посетители Портала! На данной странице вы можете создать учетную запись пользователя Соискателя.<br /> Введенные данные будут сохранены в вашей личной карточке и использованы в качестве резюме при подаче заявок на вакансии.<br /> Впоследствии их можно будет отредактировать.</p>

    <p><a href="#">Организациям</a> и их представителям заполнять регистрационную форму не нужно - для входа в Личный кабинет необходимо использовать<br /> логин и пароль, полученные на сайте <a href="#">Федеральной системы мониторинга результативности деятельности научных организаций</a>(ФСМНО).</p>
</div>

<a href="#" class="middle-icon icon-download lk-icon"><span>Загрузить данные из системы «Карта науки»</span></a>

<div class="b-form">
    <form asp-controller="Account" asp-action="Register" method="post" role="form">
        <div class="form-line form-row">
            <label>Фамилия</label>
            <div class="b-r-form">
                <div class="input">
                    <input asp-for="SecondName" type="text" />
                </div>
                <span asp-validation-for="SecondName"></span>
            </div>
        </div>

        <div class="form-line form-row">
            <label>Имя</label>
            <div class="b-r-form">
                <div class="input">
                    <input asp-for="FirstName" type="text" />
                </div>
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>

        <div class="form-line form-row">
            <label>Отчество</label>
            <div class="b-r-form">
                <div class="input">
                    <input asp-for="Patronymic" type="text" />
                </div>
                <span asp-validation-for="Patronymic"></span>
            </div>
        </div>

        <div class="form-line form-row">
            <label>Год рождения</label>
            <div class="b-r-form w120">
                <select asp-for="BirthYear"
                        asp-items="years">
                </select>
            </div>
        </div>

        <div class="form-line mt27 form-row">
            <label>Электронная почта (логин для входа)</label>
            <div class="b-r-form">
                <div class="input">
                    <input asp-for="Email" type="text" />
                </div>
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        
        <div class="form-line form-row">
            <label>Контактный телефон</label>
            <div class="b-r-form">
                <div class="input">
                    <input asp-for="Phone" type="text" />
                </div>
                <span asp-validation-for="Phone"></span>
            </div>
        </div>

        <div class="form-line mtop30 form-row">
            <label>Пароль</label>
            <div class="b-r-form">
                <div class="input">
                    <input asp-for="Password" />
                </div>
                <span asp-validation-for="Password"></span>
                <div class="description">
                    Введите пароль, удовлетворяющий следующим требованиям:
                    <br />
                    не менее 8 символов, использование латиницы, разных регистров и цифр
                </div>
            </div>
        </div>

        <div class="form-line form-row">
            <label>Подтверждение пароля</label>
            <div class="b-r-form">
                <div class="input">
                    <input asp-for="ConfirmPassword" />
                </div>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>

        <div class="form-line mtop30 form-row">
            <label>Введите текст с картинки</label>
            <div class="b-r-form">
                <div class="captcha">
                    <img src="/images/cptch-img.jpg" />
                </div>
                <div class="form-line">
                    <span class="small-icon icon-update"><span>Обновить</span></span>
                </div>
                <div class="form-line">
                    <input type="text" class="middle-input" />
                </div>
            </div>
        </div>

        <div class="form-line">
            <div class="b-r-form">
                <div class="agree mtop30">
                    <span class="checkbox checked">
                        <input asp-for="Agreement" />
                    </span>
                    <label for="Agreement">Я согласен на обработку моих персональных данных</label>
                    <span asp-validation-for="Agreement"></span>
                </div>
                <br />
                <input type="submit" class="green-btn middle-icon icon-arr-right" value="Регистрация" />
            </div>
        </div>
    </form>
</div>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">На главную страницу</a>
</div>
