@model string
<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>

<h4>@ViewBag.Title</h4>

<p class="text-success" style="padding: 15px; font-size: larger;">
    @Model
</p>
