@model SciVacancies.WebApp.ViewModels.RestorePasswordViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>

<h4>@ViewBag.Title</h4>

<form asp-controller="account" asp-action="restorepasswordconfirm" class="table-form mb30 mt-7 pt22 pass-recover-form">
    <input type="hidden" asp-anti-forgery="true" />
    <input type="hidden" asp-for="ResetToken" />
    <input type="hidden" asp-for="UserName" />

    <div class="table-row form-row">
        <div class="left-cell">
            <label>Новый пароль:</label>
        </div>
        <div class="right-cell">
            <input asp-for="Password" class="middle-input"/>
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="table-row form-row">
        <div class="left-cell">
            <label>Подтверждение пароля:</label>
        </div>
        <div class="right-cell">
            <input asp-for="PasswordConfirm" class="middle-input"/>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
    </div>
    <div class="form-line">
        <div class="b-r-form">
            <input type="submit" class="green-btn middle-icon icon-arr-right" value="Сбросить">
        </div>
    </div>
</form>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>