<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>


<h4>@ViewBag.Title</h4>

<div class="table-form mb30 mt-7 pt22 pass-recover-form">
    <div class="table-row form-row">
        <div class="left-cell">
            <label>Новый пароль:</label>
        </div>
        <div class="right-cell">
            <input type="password" value="" class="middle-input">
            <div class="inline-block pass-recover-description italic">Введите пароль, удовлетворяющий следующим требованиям:<Br /> не менее 8 символов, использование латиницы, разных регистров и цифр</div>
        </div>
    </div>
    <div class="table-row form-row">
        <div class="left-cell">
            <label>Подтверждение пароля:</label>
        </div>
        <div class="right-cell">
            <input type="password" value="" class="middle-input">
            <div class="inline-block pass-recover-notif italic"><span class="green">Введено верно</span> <span class="error">Это поле необходимо заполнить</span></div>
        </div>
    </div>
    <div class="form-line">
        <div class="b-r-form">
            <input type="submit" class="green-btn middle-icon icon-arr-right" value="Войти">
        </div>
    </div>
</div>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная страницу</a>
</div>