@model string
@{
    ViewBag.Title = "Вы зарегистрированы";
}

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    @ViewBag.Title
</div>


<div class="align-center">
    <h4>Вы успешно зарегистрировались на портале!</h4>
    <div class="mt10 message-succuss">Для подтверждения регистрации вам необходимо перейти по ссылке,<br>которая отправлена вам на e-mail, указанный при регистрации</div>
    @*<span class="green-btn middle-icon icon-ok mt27 pl-pr-22">Ок<input type="submit" class="bt-default" value=""></span>*@
</div>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>
