@model string
@{
    ViewBag.Title = "Вы зарегистрированы";
}

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h4>Регистрация прошла успешно</h4>

<div class="bg-success" style="padding: 25px; color: darkgreen;">
    Вы зарегистрированы на Портале Вакансий. На указанный вами электронный ящик, отправлена ссылка, по которой нужно перейти, чтобы активировать учётную запись.
</div>


<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>
