@using System.Threading.Tasks
@using SciVacancies.WebApp.Controllers
@model SciVacancies.WebApp.ViewModels.OrganizationDetailsViewModel

<div class="crumbs">
    <a href="#">Главная страница</a><span class="separator">/</span>Московский государственный университет им. М.В. Ломоносова
</div>

<h3>@Model.Title</h3>

@Component.Invoke("AccountTabs", typeof(OrganizationsController))

<h4>@ViewBag.Title</h4>

<div class="l-information">
    <div class="row">
        <div class="profile">
            <div class="photo inline-block">
                <img src="/images/profile-photo.png" width="140" height="180" />
            </div>
            <div class="info info-view inline-block">
                <h4>Московский государственный университет<br /> им. М.В. Ломоносова</h4>
                <span><a href="#" class="big-link-compare lk-icon bold">Добавить в сравнение</a></span>

                <div class="profile-description">
                    <div>Сокращенное наименование: <span class="bold">МГУ</span></div>

                    <div>
                        Сокращенное наименование: <span class="bold">MSU</span><br />
                        <span class="sub">(на английском языке)</span>
                    </div>

                    <div>
                        Полное наименование: <span class="bold">Moscow MV Lomonosov State Univ</span><br />
                        <span class="sub">(на английском языке)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt15 fs12">
        <div class="profile-description profile-description-place">
            <div>Населенный пункт: <span class="bold">г. Москва</span></div>

            <div>Веб-сайт: <a href="#"><span class="bold">information@msu.ru</span></a></div>

            <div>Почтовый адрес: <span class="bold">119991, Российская Федерация, Москва, ГСП-1, Ленинские горы, Московский государственный университет имени М.В.Ломоносова</span><br /></div>
        </div>
    </div>
</div>
