@using System.Threading.Tasks
@using SciVacancies.WebApp.Controllers
@model dynamic

<div class="crumbs">
    <a href="/">Главная страница</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="account">Московский государственный университет им. М.В. Ломоносова</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@Model.Title</h3>

@Component.Invoke("AccountTabs", typeof(OrganizationsController))

<h4>@ViewBag.Title</h4>

<div class="table-control">
    <a href="#" class="reload-table"><span class="italic">Обновить список</span></a>
</div>

<table class="table request-table">
    <thead>
        <tr>
            <th><div class="inline-block"><img src="/images/icons/arrow-bottom-tab.png" class="va-middle" /></div><div class="inline-block ml6 va-middle">№</div></th>
            <th><div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle" /></div><div class="inline-block ml6 va-middle">ID конкурса</div></th>
            <th><div class="pl21 va-middle">Вакансия</div></th>
            <th><div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle" /></div><div class="inline-block ml6 va-middle">Дата завершения</div></th>
            <th class="view-col"><div class="pl21 va-middle"><span>Просмотр</span></div></th>
            <th><div class="pl21 va-middle">Победитель</div></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td><a asp-controller="vacancies" asp-action="details" asp-route-id="15">ГНС600001</a></td>
            <td>Главный<br /> научный сотрудник</td>
            <td>01-09-14, 16:04</td>
            <td class="view-col">
                <a asp-controller="vacancies" asp-action="details" asp-route-id="15" class="view-td-icon"></a>
            </td>
            <td><a href="#" class="success-request-icon"><span class="italic bold">Победитель</span></a></td>
        </tr>
        <tr>
            <td>001</td>
            <td><a asp-controller="vacancies" asp-action="details" asp-route-id="15">ГНС600001</a></td>
            <td>Главный<br /> научный сотрудник</td>
            <td>01-09-14, 16:04</td>
            <td class="view-col">
                <a asp-controller="vacancies" asp-action="details" asp-route-id="15" class="view-td-icon"></a>
            </td>
            <td><a href="#" class="success-request-icon"><span class="italic bold">Победитель</span></a></td>
        </tr>
        <tr>
            <td>001</td>
            <td><a asp-controller="vacancies" asp-action="details" asp-route-id="15">ГНС600001</a></td>
            <td>Главный<br /> научный сотрудник</td>
            <td>01-09-14, 16:04</td>
            <td class="view-col">
                <a asp-controller="vacancies" asp-action="details" asp-route-id="15" class="view-td-icon"></a>
            </td>
            <td><a href="#" class="success-request-icon"><span class="italic bold">Победитель</span></a></td>
        </tr>
        <tr>
            <td>001</td>
            <td><a asp-controller="vacancies" asp-action="details" asp-route-id="15">ГНС600001</a></td>
            <td>Главный<br /> научный сотрудник</td>
            <td>01-09-14, 16:04</td>
            <td class="view-col">
                <a asp-controller="vacancies" asp-action="details" asp-route-id="15" class="view-td-icon"></a>
            </td>
            <td><a href="#" class="success-request-icon"><span class="italic bold">Победитель</span></a></td>
        </tr>
    </tbody>
</table>
<div class="bottom-nav">
    <div class="bottom-nav-left">
        <div class="count-news">
            1-4 из 4 записей
        </div>
        <div class="count-line-page">
            <input type="text" value="10"> записей на странице
        </div>
    </div>
    <div class="bottom-nav-right">
        <ul>
            <li>
                <span class="first disable">
                    <span>Первая</span>
                </span>
            </li>
            <li>
                <span class="prev disable">
                    <span>Предыдущая</span>
                </span>
            </li>
            <li>
                <div class="count-page">
                    <input type="text" value="1"> из 306
                </div>
            </li>
            <li>
                <span class="next disable">
                    <span>Следующая</span>
                </span>
            </li>
            <li>
                <span class="latest disable">
                    <span>Последняя</span>
                </span>
            </li>
        </ul>
    </div>
</div>
