@using System.Threading.Tasks
@using SciVacancies.WebApp.Controllers

<div class="crumbs">
    <a href="#">Главная страница</a><span class="separator">/</span>Московский государственный университет им. М.В. Ломоносова
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(OrganizationsController))

<h4>Вакансии</h4>

<div class="table-control">
    <a href="#" class="close-table"><span class="italic">Очистить фильтры</span></a>
    <a href="#" class="reload-table"><span class="italic">Обновить список</span></a>
</div>

<table class="table request-table">
    <thead>
        <tr>
            <th><div class="inline-block"><img src="/images/icons/arrow-bottom-tab.png" class="va-middle" /></div><div class="inline-block ml6 va-middle">№</div></th>
            <th><div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle" /></div><div class="inline-block ml6 va-middle">ID конкурса</div></th>
            <th><div class="pl21 va-middle">Вакансия</div></th>
            <th><div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle" /></div><div class="inline-block ml6 va-middle">Дата<br /> создания</div></th>
            <th><div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle" /></div><div class="inline-block ml6 va-middle">Дата<br />публикации</div></th>
            <th><div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle" /></div><div class="inline-block ml6 va-middle">Статус<br />конкурса</div></th>
            <th><div class="pl21 va-middle">Действия</div></th>
            <th><div class="pl21 va-middle">Победить</div></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>ГНС600001</td>
            <td>Главный<br /> научный сотрудник</td>
            <td>01-09-14, 16:04</td>
            <td>01-09-14, 16:04</td>
            <td><span class="status work">Объявлен</span></td>
            <td>
                <a href="#" class="view-td-icon open-popup"></a>
                <a href="#" class="edit-td-icon"></a>
                <a href="#" class="close-td-icon"></a>
                <a href="#" class="class-td-icon"></a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>002</td>
            <td>ИИС60290004</td>
            <td>Инженер-исследователь</td>
            <td>01-09-14, 16:04</td>
            <td>01-09-14, 16:04</td>
            <td><span class="status work">В работе</span></td>
            <td>
                <a href="#" class="view-td-icon open-popup"></a>
                <a href="#" class="edit-td-icon"></a>
                <a href="#" class="close-td-icon"></a>
                <a href="#" class="class-td-icon"></a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>003</td>
            <td>РНП58000322</td>
            <td>Руководитель<br /> научного подразделения</td>
            <td>01-09-14, 16:04</td>
            <td>01-09-14, 16:04</td>
            <td><span class="status work">Прием заявок</span></td>
            <td>
                <a href="#" class="view-td-icon open-popup"></a>
                <a href="#" class="edit-td-icon"></a>
                <a href="#" class="close-td-icon"></a>
                <a href="#" class="minus-td-icon"></a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>004</td>
            <td>СНС6000021</td>
            <td>Старший<br /> научный сотрудник</td>
            <td>01-09-14, 16:04</td>
            <td>01-09-14, 16:04</td>
            <td><span class="status executed">Завершен</span></td>
            <td>
                <a href="#" class="view-td-icon open-popup"></a>
                <a href="#" class="empty-td-icon"></a>
                <a href="#" class="close-td-icon"></a>
                <a href="#" class="minus-td-icon"></a>
            </td>
            <td><a href="#" class="success-request-icon"><span class="italic bold">Победитель</span></a></td>
        </tr>
        <tr>
            <td>005</td>
            <td>СНС6000021</td>
            <td>Старший<br /> научный сотрудник</td>
            <td>01-09-14, 16:04</td>
            <td>01-09-14, 16:04</td>
            <td><span class="status failed">В работе</span></td>
            <td>
                <a href="#" class="view-td-icon open-popup"></a>
                <a href="#" class="edit-td-icon"></a>
                <a href="#" class="close-td-icon"></a>
                <a href="#" class="class-td-icon"></a>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
<div class="bottom-nav">
    <div class="bottom-nav-left">
        <div class="count-news">
            1-4 из 4 записей
        </div>
        <div class="count-line-page">
            <input type="text" value="10"> записей на странице
        </div>
    </div>
    <div class="bottom-nav-right">
        <ul>
            <li>
                <span class="first disable">
                    <span>Первая</span>
                </span>
            </li>
            <li>
                <span class="prev disable">
                    <span>Предыдущая</span>
                </span>
            </li>
            <li>
                <div class="count-page">
                    <input type="text" value="1"> из 306
                </div>
            </li>
            <li>
                <span class="next disable">
                    <span>Следующая</span>
                </span>
            </li>
            <li>
                <span class="latest disable">
                    <span>Последняя</span>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="ctr-buttons mb5 mt-30">
    <span class="green-btn middle-icon icon-edit">Добавить вакансию</span>
</div>
