@using System.Collections.Generic
@using System.Threading.Tasks
@model Dictionary<string, string>
@{
    var currentAction = ViewContext.HttpContext.Request.Path;
}
<ul class="tabs">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <text>
            <li class="@( currentAction.ToUriComponent().Contains(item.Key) ? "active" : string.Empty)">
                <a href="/@ViewContext.RouteData.Values["controller"]/@item.Key">
                    <span>
                        @item.Value
                    </span>
                </a>
            </li>
            </text>
        }
    }
</ul>