<div class="footer">
    <div class="b-wrap">
        <div class="footer-copyright">
            <div>&copy;&nbsp;Портал вакансий, 2015</div>
            <div>Министерство образования и науки РФ</div>
        </div>
        <ul class="footer-items">
            <li class="footer-item">
                <ul>
                    <li class="foot-head">Пользователю</li>
                    <li class="footer-item2"><a href="/home/about">Справочная информация</a></li>
                </ul>
            </li>
            <li class="footer-item">
                <ul>
                    <li class="foot-head"> Ссылки на ресурсы</li>
                    <li class="footer-item2"><a href="http://минобрнауки.рф" target="_blank">Министерство образования и науки РФ</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>