<div class="footer">
    <div class="b-wrap">
        <div class="footer-copyright">
            Техническая поддержка: <a href="mailto:support@sciencemon.ru">support@sciencemon.ru</a>, +7 495 969 26 17 доб. 1621 (c 9:00 до 18:00 МСК)
        </div>
        <div class="footer-items">
            <span class="faq-link">
                <a href="#">Часто задаваемые вопросы</a>
            </span>
        </div>
    </div>
</div>
