<div class="header">
    <div class="b-wrap-header">
        <div class="logo">
            <a href="/">
                <img src="/images/logo-gray.png">
                <span class="logo-desc">
                    Единая информационная система проведения конкурсов
                    <br />
                    на замещение должностей научных работников
                </span>
            </a>
        </div>

        @Component.Invoke("Login")

        <div class="control">



        @if (ViewBag.HideSearchPanel == null)
        {
            <div class="b-search">
                <form asp-controller="search" asp-action="index" method="GET">
                    <input class="search-input" type="text" name="search" placeholder="поиск по порталу" value="@ViewBag.Search" />
                    <span class="search-button search-button__icon">
                        <input type="submit" value="" class="search-button__submit">
                    </span>
                </form>
            </div>
        }




        </div>

    </div>
</div>
