<div class="header">
    <div class="b-wrap-header">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png">
                <span class="logo-desc">Министерство образования и науки РФ</span>
                <span class="logo-title">Портал вакансий</span>
            </a>
        </div>

        @Component.Invoke("Login")

    </div>
</div>

<div class="b-search">
    <div class="b-wrap">
        <form asp-controller="search" asp-action="index" method="GET">
            <input class="search-input" type="text" name="search" placeholder="поиск по порталу" value="@ViewBag.Search" />
            <input type="submit" class="search-button"><i class="icon icon-search"></i>
        </form>
    </div>
</div>