<div class="header">
    <div class="b-wrap-header">
        <div class="logo">
            <a href="/">
                <img src="/images/logo-gray.png">
                <span class="logo-desc">
                    Единая информационная система проведения конкурсов
                    <br />
                    на замещение должностей научных работников
                    <br />
                </span>
                <span class="disclaimer-text">
                    Тестовый режим
                </span>
            </a>
        </div>

        @Component.Invoke("Login")

    </div>
</div>

@if (ViewBag.HideSearchPanel == null)
{
    <div class="b-search-blue">
        <div class="b-wrap">
            <form asp-controller="search" asp-action="index" method="GET">
                <div class="b-search-blue__box">
                    <input class="search-input search-input_blue" type="text" name="search" placeholder="поиск по порталу" value="@ViewBag.Search" />
                </div>
                <span class="search-button search-button__icon search-button_blue">
                    <input type="submit" value="" class="search-button__submit">
                </span>
            </form>
        </div>
    </div>
}
