<div class="header">
    <div class="b-wrap-header">
        <div class="logo">
            <a href="/">
                <img src="/images/logo-gray.png">
                <span class="logo-desc">
                    Единая информационная система проведения конкурсов
                    <br />
                    на замещение должностей научных работников
                </span>
            </a>
        </div>

        @Component.Invoke("Login")

    </div>
</div>

