@using System.Threading.Tasks
@model SciVacancies.WebApp.ViewModels.VacancyApplicationCreateViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="applications">Мои заявки</a><span class="separator">/</span>
    @ViewBag.Title
</div>


<h3>Новая заявка</h3>

<div asp-validation-summary="ValidationSummary.All"></div>

<form>

    <input asp-for="ResearcherGuid" />
    <input asp-for="VacancyGuid" />

    <div class="l-application">
        <div class="row">
            <div class="bold row-title">Вакансия:</div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>ID конкурса:</label>
                    </div>
                    <div class="right-cell">
                        <input type="text" value="МНС6000567" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Должность:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="PositionName" disabled class="disabled big-input" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bold row-title">Контактная информация:</div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Фамилия, имя, отчество:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ResearcherFullName" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>E-mail:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="Email" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Добавить E-mail:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ExtraEmail" class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Телефон:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="Phone" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Добавить телефон:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ExtraPhone" class="disabled big-input" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bold row-title">Образование:</div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Город:</label>
                    </div>
                    <div class="right-cell">
                        <input type="text" value="Челябинск" class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>ВУЗ:</label>
                    </div>
                    <div class="right-cell">
                        <input type="text" value="ЧГАКИ" class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Факультет:</label>
                    </div>
                    <div class="right-cell">
                        <input type="text" value="Информационных ресурсов и технологий" class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Год окончания:</label>
                    </div>
                    <div class="right-cell">
                        <input type="text" value="2000" class="disabled big-input" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bold row-title">Опыт работы:</div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Исследовательская деятельность:</label>
                    </div>
                    <div class="right-cell">
                        <textarea asp-for="ResearchActivity" class="disabled"></textarea>
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Преподавательская деятельность:</label>
                    </div>
                    <div class="right-cell">
                        <textarea asp-for="TeachingActivity" class="disabled"></textarea>
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Прочая деятельность:</label>
                    </div>
                    <div class="right-cell">
                        <textarea asp-for="OtherActivity" class="disabled"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bold row-title">
                Научная деятельность<br /> и достижения:
            </div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Ученая степень:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ScienceDegree" value="без степени" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Ученые звания:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="AcademicStatus" value="без звания" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Награды:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="Rewards" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Публикации:</label>
                    </div>
                    <div class="right-cell">
                        <ol class="content-list">
                            <li>
                                Научная публикация поколения 2.0: перспектива или реальность?
                                @*<div class="buttons">
                                    <span class="big-link-edit"></span><span class="big-link-remove"></span>
                                </div>*@
                            </li>
                            <li>
                                Электронно-библиотечная система: перевод понятия на «библиотечный» английский
                                @*<div class="buttons">
                                    <span class="big-link-edit"></span><span class="big-link-remove"></span>
                                </div>*@
                            </li>
                        </ol>
                        @*<a class="link-add lk-icon italic link-add-field" href="#">Добавить публикацию</a>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="table-form">
                <div class="table-row">
                    <div class="left-cell">
                        <label>Приложенные файлы:</label>
                    </div>
                    <div class="right-cell">
                        <ul class="content-list">
                            @*<li>
                                Rezume.doc
                                <div class="buttons">
                                    <span class="big-link-remove"></span>
                                </div>
                            </li>*@
                        </ul>
                        <a class="link-add lk-icon italic" href="#">Приложить файл</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ctr-buttons button-align mt26 mb5">
                <input type="submit" class="create-btn middle-icon" value="Создать заявку" />
                <a asp-controller="vacancies" asp-action="card" asp-route-id="@Model.VacancyGuid">
                    <span class="blue-btn middle-icon icon-close">
                        Закрыть
                    </span>
                </a>
            </div>
        </div>
    </div>

</form>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
    <a asp-controller="researchers" asp-action="applications" class="small-icon icon-prev">Мои заявки</a>
</div>