<div class="crumbs">
    <a asp-controller="researchers" asp-action="applications">Назад</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title</h3>

Шаблон заявки удалён

<div class="b-bottom-nav">
    <a asp-controller="researchers" asp-action="applications" class="small-icon icon-prev">Назад</a>
</div>