@using System.Threading.Tasks
@model dynamic

<div class="crumbs">
    <a href="/">Главная страница</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка пользователя</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="applications">Мои заявки</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

<h4>@ViewBag.Title: заявка на ID МНС6000567 №001 от 01-09-14 </h4>


<div class="content-slide">
    <div class="profile">
        <div class="photo inline-block">
            <img width="140" height="180" src="/images/user-photo.jpg" />
        </div>
        <div class="info info-view inline-block">
            <h4>Глаголев Виктор Александрович</h4>
            <span class="int-name">Glagolev Victor Alexandrovitch</span>
            <span class="block bold">Год рождения: 1931</span>
            <span class="block"><span class="bold">Индивидуальный номер ученого:</span> 00005444</span>
            <span class="block">
                <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                <span>Автоматизация и автоматизированные системы в области науковедения; Библиотечное дело, библиотековедение; Информационная деятельность в области науковедения...</span>
            </span>
            <span class="small-icon icon-sm-eye"><span>Показать все (23)</span></span>
        </div>
    </div>
    <div class="list-info">
        <div class="list-item">
            <div class="bold">Образование</div>
            <ul class="table-emulation">
                <li>
                    <span class="w85 italic inline-block">Город</span> <span class="italic grey">Челябинск</span>
                </li>
                <li>
                    <span class="w85 italic inline-block">ВУЗ</span> <span class="italic grey">ЧГАКИ</span>
                </li>
                <li>
                    <span class="w85 italic inline-block">Факультет</span> <span class="italic grey">Информационных ресурсов и технологий</span>
                </li>
                <li>
                    <span class="w85 italic inline-block">Год окончания</span> <span class="italic grey">2000</span>
                </li>
            </ul>
        </div>
        <div class="list-item">
            <div class="bold">Публикации</div>
            <ol>
                <li>Научная публикация поколения 2.0: перспектива или реальность?</li>
                <li>Электронно-библиотечная система: перевод понятия на «библиотечный» английский</li>
            </ol>
            <span class="small-icon icon-sm-eye"><span>Показать все (5)</span></span>
        </div>
        <div class="list-item">
            <div class="bold">Приложенные файлы</div>
            <ol>
                <li>
                    Доклад по автоматизированным системам в области науковедения.doc<br/>
                    <span class="small-icon icon-sm-download"><span>Скачать</span></span>
                </li>
                <li>
                    Резюме на английском языке.pdf<br/>
                    <span class="small-icon icon-sm-download"><span>Скачать</span></span>
                </li>
            </ol>
        </div>
    </div>


</div>


<div class="b-bottom-nav">
    <a asp-controller="researchers" asp-action="applications" class="small-icon icon-prev">К моим заявкам</a>
</div>