@using System.Threading.Tasks
@using System.Linq
@using SciVacancies.WebApp.Queries
@using SciVacancies.WebApp.ViewModels
@model IndexViewModel

@{
    var regions = Model.CurrentMediator.Send(new SelectAllRegionsQuery()).Select(c => new SelectListItem { Text = c.title, Value = c.id.ToString() }).ToList();
    regions.Insert(0, new SelectListItem { Text = "Все регионы", Value = "null" });
    ViewBag.RegionsList = regions;

    var dayPeriod = (int)Nest.DateInterval.Day;
    var weekPeriod = (int)Nest.DateInterval.Week;
    var monthPeriod = (int)Nest.DateInterval.Month;
}

<h4>Вакансии в графиках</h4>

<ul class="tabs tabs_after_title" id="graphicPeriod" onclick="refreshAllGraphicData();">
    <li class="active" data-pariod-value="@dayPeriod">
        <span>День</span>
    </li>
    <li data-pariod-value="@weekPeriod">
        <span>Неделя</span>
    </li>
    <li data-pariod-value="@monthPeriod">
        <span>Месяц</span>
    </li>
</ul>

<div class="graphics">


    <div class="graphics-item">
        <div class="title-graphic">Число вакансий ( среднее предложение )</div>

        <div id="chartContainer" style="min-height: 250px; width: 413px;">
        </div>

    </div>

    <div class="graphics-item">
        <div class="title-graphic">Средняя зарплата и количество вакансий</div>

        <div id="chartContainer2" style="min-height: 250px; width: 413px;">
        </div>

        <div class="graph-region-select-block">
            <select asp-for="RegionId"
                    asp-items="ViewBag.RegionsList"
                    onchange="refreshAllGraphicData()">
                @*<option value="1">Выбор региона</option>
                    <option value="2">Выбор региона 1</option>
                    <option value="3">Выбор региона 2</option>*@
            </select>
        </div>


        <script type="text/javascript">
            window.onload = function () {

                graphs = graphs || {}; //глобальная переменная для графиков

                CanvasJS.addColorSet("blueShades4",
                [
                    //colorSet Array
                    "#041833",
                    "#06365c",
                    "#3a5e90",
                    "#d8e1e9"
                ]);
                CanvasJS.addColorSet("blueShades2",
                [
                    //colorSet Array
                    "#041833",
                    //"#06365c",
                    "#3a5e90"
                    //"#d8e1e9"
                ]);


                graphs.chart = new CanvasJS.Chart("chartContainer",
                {
                    colorSet: "blueShades4",

                    dataPointMaxWidth: 35,
                    title: {
                        //text: "Число вакансий ( среднее предложение в месяц )"
                    },
                    axisX: {
                        lineThickness: 1,
                        tickLength: 0,
                        labelMaxWidth: 50
                    },
                    axisY: {
                        //title: "Вакансии"
                        lineThickness: 1,
                        tickLength: 0,
                        gridThickness: 1
                    },
                    animationEnabled: true,
                    data: [
                        {
                            type: "stackedColumn",
                            toolTipContent: "{label}<br/><span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y} вакансий",
                            name: "Руководители групп структурных подразделений",
                            showInLegend: "true",
                            dataPoints: [
                                { y: 38600, label: "Июль" },
                                { y: 11338, label: "Август" },
                                { y: 49088, label: "Сентябрь" },
                                { y: 62200, label: "Октябрь" },
                                { y: 90085, label: "Ноябрь" }
                            ]
                        }, {
                            type: "stackedColumn",
                            toolTipContent: "{label}<br/><span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y} вакансий",
                            name: "Руководители структурных подразделений",
                            showInLegend: "true",
                            dataPoints: [
                                { y: 39900, label: "Июль" },
                                { y: 135305, label: "Август" },
                                { y: 107922, label: "Сентябрь" },
                                { y: 52300, label: "Октябрь" },
                                { y: 3360, label: "Ноябрь" }
                            ]
                        }, {
                            type: "stackedColumn",
                            toolTipContent: "{label}<br/><span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y} вакансий",
                            name: "Сотрудники",
                            showInLegend: "true",
                            dataPoints: [
                                { y: 39900, label: "Июль" },
                                { y: 135305, label: "Август" },
                                { y: 107922, label: "Сентябрь" },
                                { y: 52300, label: "Октябрь" },
                                { y: 3360, label: "Ноябрь" }
                            ]
                        }, {
                            type: "stackedColumn",
                            toolTipContent: "{label}<br/><span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y} вакансий",
                            name: "Прочие",
                            showInLegend: "true",
                            dataPoints: [
                                { y: 39900, label: "Июль" },
                                { y: 135305, label: "Август" },
                                { y: 107922, label: "Сентябрь" },
                                { y: 52300, label: "Октябрь" },
                                { y: 3360, label: "Ноябрь" }
                            ]
                        }
                    ],
                    legend: {
                        cursor: "pointer",

                        fontSize: 12,
                        fontFamily: "tahoma",
                        maxWidth: 400,

                        itemclick: function (e) {
                            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                e.dataSeries.visible = false;
                            } else {
                                e.dataSeries.visible = true;
                            }
                            graphs.chart.render();
                        }
                    }
                });


                graphs.chart2 = new CanvasJS.Chart("chartContainer2",
                {
                    colorSet: "blueShades2",

                    title: {
                        //text: "Средняя зарплата и количество вакансий"

                    },
                    animationEnabled: true,
                    toolTip: {
                        shared: true,
                        content: function (e) {
                            var body;
                            var head;
                            head = "<span style = 'color:DodgerBlue; '><strong>Дата: " + (e.entries[0].dataPoint.label) + "</strong></span><br/>";
                            body = "<span style= 'color:" + e.entries[0].dataSeries.color + "'> " + e.entries[0].dataSeries.name + "</span>: <strong>" + e.entries[0].dataPoint.y + "</strong>  тыс.р.<br/> <span style= 'color:" + e.entries[1].dataSeries.color + "'> " + e.entries[1].dataSeries.name + "</span>: <strong>" + e.entries[1].dataPoint.y + "</strong>  шт";

                            return (head.concat(body));
                        }
                    },
                    axisY: {
                        title: "Средняя з/п. (тыс.р.)",
                        includeZero: false,
                        suffix: "",
                        lineColor: "#041833",
                        lineThickness: 1,
                        tickLength: 0,
                        gridThickness: 1
                    },
                    axisY2: {
                        title: "Количество (шт.)",
                        includeZero: false,
                        suffix: "",
                        lineColor: "#3a5e90",
                        lineThickness: 1,
                        tickLength: 0,
                        gridThickness: 1
                    },
                    axisX: {
                        //title: "Месяцы",
                        //suffix: " мес",
                        lineThickness: 1,
                        tickLength: 0,
                        gridThickness: 1,
                        labelMaxWidth: 50

                    },
                    data: [
                        {
                            type: "line",
                            name: "Средняя зп",
                            showInLegend: "true",
                            dataPoints: [
                                { x: 6, y: 0, label: "Июнь" },
                                { x: 7, y: 8.2, label: "Июль" },
                                { x: 8, y: 41.7, label: "Август" },
                                { x: 9, y: 16.7, label: "Сентябрь" },
                                { x: 10, y: 31.3, label: "Октябрь" }
                            ]
                        },
                        {
                            type: "line",
                            axisYType: "secondary",
                            name: "Вакансий",
                            showInLegend: "true",
                            dataPoints: [
                                { x: 6, y: 0, label: "Июнь" },
                                { x: 7, y: 90, label: "Июль" },
                                { x: 8, y: 1590, label: "Август" },
                                { x: 9, y: 1740, label: "Сентябрь" },
                                { x: 10, y: 3740, label: "Октябрь" }
                            ]
                        }
                    ],
                    legend: {
                        cursor: "pointer",

                        fontSize: 12,
                        fontFamily: "tahoma",
                        maxWidth: 400,

                        itemclick: function (e) {
                            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                e.dataSeries.visible = false;
                            } else {
                                e.dataSeries.visible = true;
                            }
                            graphs.chart2.render();
                        }
                    }
                });


                //graphs.chart.render();
                //graphs.chart2.render();
                refreshAllGraphicData();
            }
        </script>



    </div>
</div>