@using System.Threading.Tasks
@using System.Linq
@using SciVacancies.WebApp.Queries
@using SciVacancies.WebApp.ViewModels
@model IndexViewModel

@{
    var source = Model.CurrentMediator.Send(new SelectAllRegionsQuery());
    if (source != null)
    {
        var regions = source.Select(c => new SelectListItem { Text = c.title, Value = c.id.ToString() }).ToList();
        regions.Insert(0, new SelectListItem { Text = "Все регионы", Value = "null" });
        ViewBag.RegionsList = regions;
    }

    var dayPeriod = (int)Nest.DateInterval.Day;
    var weekPeriod = (int)Nest.DateInterval.Week;
    var monthPeriod = (int)Nest.DateInterval.Month;
}

<h4>Вакансии в графиках</h4>

<ul class="tabs tabs_after_title" id="graphicPeriod" onclick="refreshAllGraphicData();">
    <li class="active" data-pariod-value="@dayPeriod">
        <span>День</span>
    </li>
    <li data-pariod-value="@weekPeriod">
        <span>Неделя</span>
    </li>
    <li data-pariod-value="@monthPeriod">
        <span>Месяц</span>
    </li>
</ul>

<div class="graphics">


    <div class="graphics-item">
        <div class="title-graphic">Число вакансий ( среднее предложение )</div>

        <div id="chartContainer" style="height: 250px; width: 413px;">
        </div>

        <ul class="graph-details">
            <li class="color1"><span>Руководящие должности</span></li>
            <li class="color3"><span>Сотрудники</span></li>
        </ul>

    </div>

    <div class="graphics-item">
        <div class="title-graphic">Средняя зарплата и количество вакансий</div>

        <div id="chartContainer2" style="min-height: 250px; width: 413px;">
        </div>

        <ul class="graph-details">
            <li class="color1 marker-circle"><span>Средняя зарплата</span></li>
            <li class="color3 marker-circle"><span>Вакансии</span></li>
        </ul>

    @if (ViewBag.RegionsList != null)
        {
            <text>
            <div class="graph-region-select-block">
                <select asp-for="RegionId"
                        asp-items="ViewBag.RegionsList"
                        onchange="refreshAllGraphicData()"></select>
            </div>
            </text>
        }


        <script type="text/javascript">
            window.onload = function () {

                graphs = graphs || {}; //глобальная переменная для графиков

                CanvasJS.addColorSet("blueShades4",
                [
                    //colorSet Array
                    "#041833",
                    "#06365c"
                    //"#3a5e90",
                    //"#d8e1e9"
                ]);
                CanvasJS.addColorSet("blueShades2",
                [
                    //colorSet Array
                    "#041833",
                    //"#06365c",
                    "#3a5e90"
                    //"#d8e1e9"
                ]);


                graphs.chart = new CanvasJS.Chart("chartContainer",
                {
                    colorSet: "blueShades4",

                    dataPointMaxWidth: 35,
                    title: {
                        //text: "Число вакансий ( среднее предложение в месяц )"

                    },
                    axisX: {
                        titleFontFamily: "arial",
                        titleFontSize: 12,
                        titleFontColor: "#041833",

                        labelFontFamily: "arial",
                        labelFontSize: 12,
                        labelFontColor: "#041833",

                        //title: "Месяцы",
                        //suffix: " мес",
                        lineThickness: 1,
                        tickLength: 6,
                        tickColor: "transparent",
                        gridThickness: 1,
                        labelMaxWidth: 58
                    },
                    axisY: {

                        titleFontFamily: "arial",
                        titleFontSize: 12,
                        titleFontColor: "#041833",

                        labelFontFamily: "arial",
                        labelFontSize: 12,
                        labelFontColor: "#041833",

                        includeZero: false,
                        suffix: "",
                        lineColor: "#d1d1d1",
                        lineThickness: 1,
                        tickLength: 0,
                        gridThickness: 1
                    },
                    animationEnabled: true,


                    toolTip: {
                        //shared: true,
                        cornerRadius: 0,

                        borderThickness: 1,
                        borderColor: "#d1d1d1",
                        fontSize: 12,
                        fontFamily: "arial",
                        fontStyle: "normal",
                        backgroundColor: "#ffffff",

                        content: function (e) {
                            var body;
                            var head;
                            var name = e.entries[0].dataSeries.name.length <= 25 ? e.entries[0].dataSeries.name : (e.entries[0].dataSeries.name.substring(0, 24) + "...");
                            head = "<span style = 'color:{color}; '><strong>Дата: " + (e.entries[0].dataPoint.label) + "</strong></span><br/>";
                            body = "<span style='\"'color: {color};'\"'><strong>"
                                + name
                                + "</strong></span>: "
                                + e.entries[0].dataPoint.y
                                + " вак.";
                            return (head.concat(body));
                        }
                    },


                    data: [
                        {
                            type: "stackedColumn",
                            name: "Руководители",
                            //showInLegend: "true",
                            dataPoints: [
                                { y: 38600, label: "Июль" },
                                { y: 11338, label: "Август" },
                                { y: 49088, label: "Сентябрь" },
                                { y: 62200, label: "Октябрь" },
                                { y: 90085, label: "Ноябрь" }
                            ]
                            //}, {
                            //    type: "stackedColumn",
                            //    name: "Руководители структурных подразделений",
                            //    showInLegend: "true",
                            //    dataPoints: [
                            //        { y: 39900, label: "Июль" },
                            //        { y: 135305, label: "Август" },
                            //        { y: 107922, label: "Сентябрь" },
                            //        { y: 52300, label: "Октябрь" },
                            //        { y: 3360, label: "Ноябрь" }
                            //    ]
                        }, {
                            type: "stackedColumn",
                            name: "Сотрудники",
                            //showInLegend: "true",
                            dataPoints: [
                                { y: 39900, label: "Июль" },
                                { y: 135305, label: "Август" },
                                { y: 107922, label: "Сентябрь" },
                                { y: 52300, label: "Октябрь" },
                                { y: 3360, label: "Ноябрь" }
                            ]
                            //}, {
                            //    type: "stackedColumn",
                            //    name: "Прочие",
                            //    showInLegend: "true",
                            //    dataPoints: [
                            //        { y: 39900, label: "Июль" },
                            //        { y: 135305, label: "Август" },
                            //        { y: 107922, label: "Сентябрь" },
                            //        { y: 52300, label: "Октябрь" },
                            //        { y: 3360, label: "Ноябрь" }
                            //    ]
                        }
                    ],
                    //legend: {
                    //    //cursor: "pointer",

                    //    horizontalAlign: 'center',

                    //    maxWidth: 400,
                    //    itemWidth: 300,

                    //    fontFamily: "arial",
                    //    fontSize: 10,
                    //    fontColor: "#041833"

                    //    //itemclick: function (e) {
                    //    //    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    //    //        e.dataSeries.visible = false;
                    //    //    } else {
                    //    //        e.dataSeries.visible = true;
                    //    //    }
                    //    //    graphs.chart.render();
                    //    //}
                    //}
                });


                graphs.chart2 = new CanvasJS.Chart("chartContainer2",
                {
                    colorSet: "blueShades2",

                    title: {
                        //text: "Средняя зарплата и количество вакансий"

                    },
                    animationEnabled: true,
                    toolTip: {
                        shared: true,
                        cornerRadius: 0,

                        borderThickness: 1,
                        borderColor: "#d1d1d1",
                        fontSize: 12,
                        fontFamily: "arial",
                        fontStyle: "normal",
                        backgroundColor: "#ffffff",

                        content: function (e) {
                            var body;
                            var head;
                            head = "<span style = 'color:" + e.entries[0].dataSeries.color + "; '><strong>Дата: " + (e.entries[0].dataPoint.label) + "</strong></span><br/>";
                            body = "<span style= 'color:" + e.entries[0].dataSeries.color + "'> "
                                + (e.entries[0].dataSeries.name)
                                + "</span>: <strong>" + e.entries[0].dataPoint.y + "</strong>  тыс.р.<br/> <span style= 'color:" + e.entries[1].dataSeries.color + "'> " + e.entries[1].dataSeries.name + "</span>: <strong>" + e.entries[1].dataPoint.y + "</strong>  шт";

                            return (head.concat(body));
                        }
                    },
                    axisY: {
                        title: "Средняя з/п. (тыс.р.)",

                        titleFontFamily: "arial",
                        titleFontSize: 12,
                        titleFontColor: "#041833",

                        labelFontFamily: "arial",
                        labelFontSize: 12,
                        labelFontColor: "#041833",

                        includeZero: false,
                        suffix: "",
                        lineColor: "#d1d1d1",
                        lineThickness: 1,
                        tickLength: 0,
                        gridThickness: 1
                    },
                    axisY2: {
                        titleFontFamily: "arial",
                        titleFontSize: 12,
                        titleFontColor: "#041833",
                        title: "Количество (шт.)",

                        labelFontFamily: "arial",
                        labelFontSize: 12,
                        labelFontColor: "#041833",

                        includeZero: false,
                        suffix: "",
                        lineColor: "#d1d1d1",
                        lineThickness: 1,
                        tickLength: 0,
                        gridThickness: 1
                    },
                    axisX: {
                        titleFontFamily: "arial",
                        titleFontSize: 12,
                        titleFontColor: "#041833",

                        labelFontFamily: "arial",
                        labelFontSize: 12,
                        labelFontColor: "#041833",

                        //title: "Месяцы",
                        //suffix: " мес",
                        lineThickness: 1,
                        tickLength: 6,
                        tickColor: "transparent",
                        gridThickness: 1,
                        labelMaxWidth: 58
                    },
                    data: [
                        {
                            legendMarkerColor: "#041833",
                            legendMarkerBorderThickness: "3",
                            legendMarkerBorderColor: "#041833",
                            type: "line",
                            legendText: "Средняя зп",
                            name: "Средняя зп",
                            //showInLegend: true,
                            dataPoints: [
                            { x: 6, y: 0, label: "Июнь" },
                            { x: 7, y: 8.2, label: "Июль" },
                            { x: 8, y: 41.7, label: "Август" },
                            { x: 9, y: 16.7, label: "Сентябрь" },
                            { x: 10, y: 31.3, label: "Октябрь" }
                            ]
                        },
                        {
                            legendMarkerColor: "#3a5e90",
                            legendMarkerBorderThickness: "3",
                            legendMarkerBorderColor: "#3a5e90",
                            type: "line",
                            axisYType: "secondary",
                            name: "Вакансий",
                            legendText: "Вакансий",
                            //showInLegend: true,
                            dataPoints: [
                            { x: 6, y: 0, label: "Июнь" },
                            { x: 7, y: 90, label: "Июль" },
                            { x: 8, y: 1590, label: "Август" },
                            { x: 9, y: 1740, label: "Сентябрь" },
                            { x: 10, y: 3740, label: "Октябрь" }
                            ]
                        }
                    ],
                    //legend: {
                    //    //cursor: "pointer",

                    //    fontFamily: "arial",
                    //    fontSize: 10,
                    //    fontColor: "#041833",

                    //    maxWidth: 400,
                    //    itemWidth: 300

                    //    //itemclick: function (e) {
                    //    //    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    //    //        e.dataSeries.visible = false;
                    //    //    } else {
                    //    //        e.dataSeries.visible = true;
                    //    //    }
                    //    //    graphs.chart2.render();
                    //    //}
                    //}
                });


                //graphs.chart.render();
                //graphs.chart2.render();
                refreshAllGraphicData();
            }
        </script>



    </div>
</div>