@model string
@{
    ViewBag.Title = "Сообщение";
}

<h3 class="text-danger">Готово.</h3>
<h2 class="">Запрос обработан:</h2>
<p class="text-success" style="padding: 15px; font-size: larger;">
    @Model
</p>
