[Oo]bj/
[Bb]in/
TestResults/
.nuget/
_ReSharper.*/
packages/
artifacts/
App_Data/
bower_components
node_modules
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
project.lock.json
.vs/
*/*.WebApp/wwwroot/lib
*/*.WebApp/wwwroot/uploads
*/*.WebApp/wwwroot/uploads/*
*/*.WebApp/wwwroot/uploads/*.*
*/*.WebApp/wwwroot/_reference.js
build/