<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization culture="en-EN"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform 
      processPath="%DNX_PATH%" 
      arguments="%DNX_ARGS%" 
      stdoutLogEnabled="false"
      startupTimeLimit="3600" />
  </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  
</configuration>