<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title</h3>


<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>