<h3>
    @ViewBag.Title
</h3>

<p style="color: red;">
    Внимание! Система функционирует в тестовом режиме. Идет выявление возможных разногласий между данными, представленными в "Портале вакансий", и реальным положением по персоналиям и организациям. Просьба о выявленных неточностях сообщать по адресу: vacportal@vestbery.com
</p>

<p>
    Информационная система «Портал вакансий» предназначена для централизованного проведения открытых конкурсов на замещение должностей в научных организациях Российской Федерации. С помощью «Портала вакансий» научные организации выставляют для научных работников свои вакансии и публикуют итоги конкурсов. Научные работники, в качестве соискателей, подают с помощью «Портала вакансий» свои заявки на опубликованные вакансии организаций и принимают участие в конкурсах, объявленных по этим вакансиям.
</p>

<p>
    Информационная система «Портал вакансий» использует только общедоступные данные, официально полученные из следующих источников:
</p>

<ul>
    <li>
        Информационная система «Карта российской науки» (www.mapofscience.ru)
    </li>
    <li>
        Информационная система Федеральной системы мониторинга результативности деятельности научных организаций, выполняющих научно-исследовательские, опытно-конструкторские и технологические работы (www.sciencemon.ru)
    </li>
</ul>

<p>
    Информационная система «Портал вакансий» находится в тестовом режиме, данные в ней могут отличаться от указанных выше первоисточников.
</p>

