@using System
@using System.Threading.Tasks
@model System.Guid

<div class="crumbs">
    <a  asp-controller="organizations" asp-action="vacancies">Назад</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title</h3>

Вакансия удалена

@*<form asp-action="undelete" method="POST">
        <input type="hidden" asp-anti-forgery="true" />
        <input type="hidden" id="id" name="id" value="@Model"/>
        <input type="submit"/>
    </form>*@

<div class="b-bottom-nav">
    <a  asp-controller="organizations" asp-action="vacancies" class="small-icon icon-prev">Назад</a>
</div>