@model dynamic

<div class="crumbs">
    <a href="/">Главная страница</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="account">Московский государственный университет им. М.В. Ломоносова</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="vacancies">Вакансии</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title</h3>

<div class="title-cat-inform">Конкурсная информация:</div>
<ul class="list-information">
    <li class="odd">
        <span>ID конкурса:</span>СНС890056
    </li>
    <li class="even">
        <span>Статус:</span><span class="status executed">Конкурс завершен</span>
        <span class="dashed-link float-right">Протокол решения конкурсной комиссии</span>
    </li>
    <li class="odd">
        <span>Первое место (победитель):</span>Петров Сергей Иванович
    </li>
    <li class="even">
        <span>Второе место:</span>Голованов Иван Константинович
    </li>
</ul>

<div class="title-cat-inform">Дополнительная информация:</div>
<ul class="list-information">
    <li class="odd">
        <span>Научное направление:</span>Материаловедение – оценка и испытания
    </li>
    <li class="even">
        <span>Профессия (должность):</span>Конструктор-технолог
    </li>
    <li class="odd">
        <span>Режим работы:</span>Пролный рабочий день; 5/2
    </li>
    <li class="even">
        <span>Тип занятости:</span>Постоянная работа
    </li>
</ul>


<div class="b-bottom-nav">
    <a asp-controller="organizations" asp-action="account" class="small-icon icon-prev">К карточке организации</a>
</div>