@{
    ViewBag.Title = "Результаты поиска";
}

<div class="crumbs">
    <a href="/">Главная страница</a><span class="separator">/</span>@ViewBag.Title
</div>
<div class="l-search">
    <div class="b-filter float-right">
        <h4>Фильтр по результатам</h4>

        <div class="filter-contents">
            <div class="ctr-filter">
                <span class="small-icon icon-sm-ok">Выбрать все</span>
                <span class="small-icon icon-sm-close">Очистить фильтр</span>
            </div>

            <div class="cat-filter">
                <div class="title">Регион</div>
                <ul class="list-checkboxes">
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Москва и область (500)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Санкт-Петербург (430)</label>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" />
                        </span><label>Новосибирск (357)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Самара (15)</label>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" />
                        </span><label>Владивосток (12)</label>
                    </li>
                </ul>
                <span class="small-icon icon-sm-eye"><span>Показать ещё 10 ( из 453 )</span></span>
            </div>

            <div class="cat-filter">
                <div class="title">ФОИВ</div>
                <ul class="list-checkboxes">
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Минздрав РФ (456)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Минобонауки РФ (56)</label>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" />
                        </span><label>РАМН (2)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>РАН (7)</label>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" />
                        </span><label>РосГидроМет (1)</label>
                    </li>
                </ul>
                <span class="small-icon icon-sm-eye"><span>Показать ещё 10 ( из 682 )</span></span>
            </div>

            <div class="cat-filter">
                <div class="title">Научное направление</div>
                <ul class="list-checkboxes">
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Экономика (7)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Юриспруденция (15)</label>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" />
                        </span><label>Инструменты и приборы (239)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Материаловедение – междисциплинарное (351)</label>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" />
                        </span><label>Науки об окружающей среде (63)</label>
                    </li>
                </ul>
                <span class="small-icon icon-sm-eye"><span>Показать ещё 10 ( из 897 )</span></span>
            </div>

            <div class="cat-filter">
                <div class="title">Категория должности</div>
                <ul class="list-checkboxes">
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Руководитель научного подразделения (12)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Ведущий научный сотрудник (63)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Старший научный сотрудник (59)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Младший научный сотрудник (114)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Инженер-исследователь (187)</label>
                    </li>
                </ul>
                <span class="small-icon icon-sm-eye"><span>Показать ещё 5 ( из 10 )</span></span>
            </div>

            <div class="cat-filter">
                <div class="title">Организация</div>
                <ul class="list-checkboxes">
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Новосибирский государственный технический университет (4)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Ульяновский государственный технический университет (23)</label>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" />
                        </span><label>ОАО "Российские железные дороги" (31)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Дагестанский государственный технический университет (1)</label>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" />
                        </span><label>Волгоградский государственный технический университет (5)</label>
                    </li>
                </ul>
                <span class="small-icon icon-sm-eye"><span>Показать ещё 10 ( из 682 )</span></span>
            </div>

            <div class="cat-filter">
                <div class="title">Заработная плата</div>
                <ul class="list-checkboxes">
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>До 30 000 руб. (457)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>30 000 – 60 000 руб. (831)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>От 60 000 руб. и выше (52)</label>
                    </li>
                </ul>
            </div>

            <div class="cat-filter">
                <div class="title">Статус конкурса</div>
                <ul class="list-checkboxes">
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Объявлен (182)</label>
                    </li>
                    <li>
                        <span class="checkbox checked">
                            <input type="checkbox" checked />
                        </span><label>Приём заявок (45)</label>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" />
                        </span><label>Завершён (7)</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="b-search-result">
        <h4>@ViewBag.Title</h4>

        <div class="italic">По запросу «исследователь» с учетом фильтрации найдено 2681110 записей.</div>

        <div class="ctr-buttons" style="margin-top:20px;">
            <span class="green-btn middle-icon icon-ok" id="subscribe" rel="tooltip">Подписаться</span>
            <div id="subscribe-popover" style="display:none;">
                Задав поисковый запрос и выбрав необходимые критерии поиска в фильтре результатов, вы можете подписаться на данную конфигурацию запроса. Это позволит в дальнейшем оперативно отслеживать необходимую информацию с учётом выбранных предпочтений. Ваши подписки отображаются в Личном Кабинете в соответствующей вкладке
            </div>
        </div>

        <!--div class="ctr-buttons" style="margin-top:20px;">
            <span class="blue-btn middle-icon icon-close" rel="tooltip" title="">Отменить подписку</span>
        </div-->
        <!--div class="ctr-buttons" style="margin-top:20px;">
            <span class="white-btn middle-icon icon-lgr-ok" id="subscribed" rel="tooltip">Подписка оформлена</span>
            <div id="subscribed-popover" style="display:none;text-align:center;">
                Поздравляем!<br />Теперь вы подписаны на запрос по теме «исследователь»
            </div>
        </div-->

        <div class="sorting">
            <div class="inline-block w120">
                <select name="1" id="1">
                    <option value="1.1">За все время</option>
                    <option value="1.2">За месяц</option>
                    <option value="1.3">За неделю</option>
                    <option value="1.4">За день</option>
                </select>
            </div>
            <div class="inline-block w160">
                <select name="2" id="2">
                    <option value="2.1">Сначала последние</option>
                    <option value="2.2">Сначала первые</option>
                </select>
            </div>
            <span class="blue-btn-sm small-icon icon-sm-eye-wh">Показать</span>
        </div>

        <div class="list-results">
            <div>
                <div class="index-number">17.</div>
                <div class="index-text">
                    <div class="title">Инженер-исследователь</div>
                    <div class="inform">
                        <p>Дата размещения: 2014-12-25</p>
                        <p>Регион: <a href="#">Москва</a></p>
                        <p>Заработная плата: 56000 – 67000 руб.</p>
                        <p><a href="#">Организация: Московский гусударственный университет имени М. В. Ломоносова</a></p>
                        <p>Научные направления: <a href="#">Физика</a>, <a href="#">Механика</a>, <a href="#">Инструменты и приборы</a>, <a href="#">Компьютерная техника</a>, <a href="#">Программирование</a>, <a href="#">Экономика</a>, <a href="#">Материаловедение – междисциплинарное</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="index-number">172.</div>
                <div class="index-text">
                    <div class="title">Ведущий научный сотрудник</div>
                    <div class="inform">
                        <p>Дата размещения: 2014-12-25</p>
                        <p>Регион: <a href="#">Москва</a></p>
                        <p>Заработная плата: 56000 – 67000 руб.</p>
                        <p><a href="#">Организация: Московский гусударственный университет имени М. В. Ломоносова</a></p>
                        <p>Научные направления: <a href="#">Физика</a>, <a href="#">Механика</a>, <a href="#">Инструменты и приборы</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="index-number">173.</div>
                <div class="index-text">
                    <div class="title">Старший научный сотрудник</div>
                    <div class="inform">
                        <p>Дата размещения: 2014-12-25</p>
                        <p>Регион: <a href="#">Москва</a></p>
                        <p>Заработная плата: 56000 – 67000 руб.</p>
                        <p><a href="#">Организация: Московский гусударственный университет имени М. В. Ломоносова</a></p>
                        <p>Научные направления: <a href="#">Физика</a>, <a href="#">Механика</a>, <a href="#">Инструменты и приборы</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="index-number">174.</div>
                <div class="index-text">
                    <div class="title">Инженер-исследователь</div>
                    <div class="inform">
                        <p>Дата размещения: 2014-12-25</p>
                        <p>Регион: <a href="#">Москва</a></p>
                        <p>Заработная плата: 56000 – 67000 руб.</p>
                        <p><a href="#">Организация: Московский гусударственный университет имени М. В. Ломоносова</a></p>
                        <p>Научные направления: <a href="#">Физика</a>, <a href="#">Механика</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="index-number">175.</div>
                <div class="index-text">
                    <div class="title">Ведущий научный сотрудник</div>
                    <div class="inform">
                        <p>Дата размещения: 2014-12-25</p>
                        <p>Регион: <a href="#">Москва</a></p>
                        <p>Заработная плата: 56000 – 67000 руб.</p>
                        <p><a href="#">Организация: Московский гусударственный университет имени М. В. Ломоносова</a></p>
                        <p>Научные направления: <a href="#">Физика</a>, <a href="#">Механика</a>, <a href="#">Инструменты и приборы</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="index-number">176.</div>
                <div class="index-text">
                    <div class="title">Старший научный сотрудник</div>
                    <div class="inform">
                        <p>Дата размещения: 2014-12-25</p>
                        <p>Регион: <a href="#">Москва</a></p>
                        <p>Заработная плата: 56000 – 67000 руб.</p>
                        <p><a href="#">Организация: Московский гусударственный университет имени М. В. Ломоносова</a></p>
                        <p>Научные направления: <a href="#">Физика</a>, <a href="#">Механика</a>, <a href="#">Инструменты и приборы</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="index-number">177.</div>
                <div class="index-text">
                    <div class="title">Инженер-исследователь</div>
                    <div class="inform">
                        <p>Дата размещения: 2014-12-25</p>
                        <p>Регион: <a href="#">Москва</a></p>
                        <p>Заработная плата: 56000 – 67000 руб.</p>
                        <p><a href="#">Организация: Московский гусударственный университет имени М. В. Ломоносова</a></p>
                        <p>Научные направления: <a href="#">Физика</a>, <a href="#">Механика</a>, <a href="#">Инструменты и приборы</a>, <a href="#">Компьютерная техника</a>, <a href="#">Программирование</a>, <a href="#">Экономика</a>, <a href="#">Материаловедение – междисциплинарное</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="index-number">178.</div>
                <div class="index-text">
                    <div class="title">Ведущий научный сотрудник</div>
                    <div class="inform">
                        <p>Дата размещения: 2014-12-25</p>
                        <p>Регион: <a href="#">Москва</a></p>
                        <p>Заработная плата: 56000 – 67000 руб.</p>
                        <p><a href="#">Организация: Московский гусударственный университет имени М. В. Ломоносова</a></p>
                        <p>Научные направления: <a href="#">Физика</a>, <a href="#">Механика</a>, <a href="#">Инструменты и приборы</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="index-number">179.</div>
                <div class="index-text">
                    <div class="title">Старший научный сотрудник</div>
                    <div class="inform">
                        <p>Дата размещения: 2014-12-25</p>
                        <p>Регион: <a href="#">Москва</a></p>
                        <p>Заработная плата: 56000 – 67000 руб.</p>
                        <p><a href="#">Организация: Московский гусударственный университет имени М. В. Ломоносова</a></p>
                        <p>Научные направления: <a href="#">Физика</a>, <a href="#">Механика</a>, <a href="#">Инструменты и приборы</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="index-number">180.</div>
                <div class="index-text">
                    <div class="title">Старший научный сотрудник</div>
                    <div class="inform">
                        <p>Дата размещения: 2014-12-25</p>
                        <p>Регион: <a href="#">Москва</a></p>
                        <p>Заработная плата: 56000 – 67000 руб.</p>
                        <p><a href="#">Организация: Московский гусударственный университет имени М. В. Ломоносова</a></p>
                        <p>Научные направления: <a href="#">Физика</a>, <a href="#">Механика</a>, <a href="#">Инструменты и приборы</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom-nav" style="margin:80px 0 20px 0;">
    <div class="bottom-nav-left">
        <div class="count-news" style="margin:0 20px 0 0;">
            171-180 из 2681110 вакансий
        </div>
        <div class="count-line-page">
            <input type="text" value="10"> записей на странице
        </div>
    </div>
    <div class="bottom-nav-right">
        <ul>
            <li>
                <span class="first disable">
                    <span>Первая</span>
                </span>
            </li>
            <li>
                <span class="prev disable">
                    <span>Предыдущая</span>
                </span>
            </li>
            <li>
                <div class="count-page">
                    <input type="text" value="18"> из 653
                </div>
            </li>
            <li>
                <span class="next">
                    <a href="#">Следующая</a>
                </span>
            </li>
            <li>
                <span class="latest">
                    <a href="#">Последняя</a>
                </span>
            </li>
        </ul>
    </div>
</div>

<div class="b-bottom-nav" style="margin:30px 0;">
    <a href="#" class="small-icon icon-prev">На главную страницу</a>
</div>
