@model Guid

<div class="crumbs">
    <a asp-controller="organizations" asp-action="vacancies">Назад</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title</h3>

Для выбранной вакансии включён приём заявок.

<div class="b-bottom-nav">
    <a asp-controller="organizations" asp-action="vacancies" class="small-icon icon-prev">Назад</a>
</div>